body {
  font-family: sans-serif;
  background-color: #080707; /* Fondo negro OruxMaps */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e9ccd2; /* Letras blanco cálido */
}

.container {
  text-align: center;
  padding: 2rem;
  background: #242424; /* Panel gris oscuro */
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  width: 90%;
}

.logo {
  width: 96px;
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #e9ccd2;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #858585;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #1a1a1a;
  color: #e9ccd2;
}

input::placeholder {
  color: #858585;
  font-style: italic;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #bb0e26; /* Rojo OruxMaps */
  color: #e9ccd2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #990a1f;
}

.footer {
  margin-top: 2rem;
  font-size: 0.85rem;
  color: #858585;
}
